<li>
	{{#if devoured}}
	{{burger_name}}
	{{else}}
	{{burger_name}}
	<button class="eat" data-id="{{id}}" data-newDevoured="{{devoured}}">EAT ME!</button>
	{{/if}}
</li>

{{!-- <li> --}}
{{!-- {{name}} --}}
{{!-- {{burger_name}} --}}


{{!-- <button class="eat" data-id="{{id}}" data-newDevoured="{{devoured}}"> --}}
{{!-- {{#if devoured=false}}{{else}}EAT ME!{{/if}} --}}
{{!-- {{#if devoured=false}}EAT ME!{{}}
	</button> --}}

{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
{{!-- </li> --}}